<ion-nav-bar class="bar-dark">
  <ion-view view-title="personality test">
    <ion-content class="bg">
      <div class="row">
        <div class="center1">
          <div class="card">
            <div class="item item-divider item-dark">
              <center>
                <h1>
                  <font color="white">Kişilik Testi 2</font>
                </h1>
              </center>
            </div>
            <div class="item item-text-wrap item-stable">
              Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
            </div>
            <div class="item item-divider item-dark">
              <p>
                <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
              </p>
            </div>
          </div>
          <div class="center2">
            <button ng-click="mv.start()" class="button button-dark" align="center" >
              Start
          </button>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
</ion-nav-bar>