<ion-nav-bar class="bar-dark">
  <ion-view view-title="mv.name">
    <div ng-if="mv.q0 === 1">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="sw1()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 2">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 3">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 4">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}} {{mv.q0}}</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 5">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 6">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 7">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 8">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 9">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 10">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 11">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 12">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 13">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 14">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 15">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 16">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
    <div ng-if="mv.q0 === 17">
      <ion-content class="bg">
        <div class="row">
          <div class="center1">
            <div class="card">
              <div class="item item-divider item-dark">
                <center>
                  <h1>
                    <font color="white">Kişilik Testi {{mv.q0}}2</font>
                  </h1>
                </center>
              </div>
              <div class="item item-text-wrap item-stable">
                Süre dolmadan tüm sorulara cevap vermeniz gerekmektedir!
              </div>
              <div class="item item-divider item-dark">
                <p>
                  <font color="white">Renda Yiğit, Abdurrahman Joukhadar, Esma Çorbacı</font>
                </p>
              </div>
            </div>
            <div class="center2">
              <button ng-click="mv.start()" class="button button-dark" align="center">
              Start
          </button>
            </div>
          </div>
        </div>
      </ion-content>
    </div>
  </ion-view>
</ion-nav-bar>