<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">User Manual</h1>
    <div class="buttons">
      <!-- if needed add close poopout button -->
      <button class="button button-clear button-assertive" ng-click="closesw1()">Close</button>
    </div>
  </ion-header-bar>
  <div ng-if="mv.lang.tr">
    <ion-content>
      <br> &nbsp 1 - You can only select 1 or 2 answers at the sametime :<br> &nbsp &nbsp &nbsp a - If you Select
      only one answer you got 2 point as you selected twice<br> &nbsp &nbsp &nbsp b - If you Select two answers you got 1
      point<br><br> &nbsp 2 - You should answer evry question within the requisted time (45.S) or you will have to repeat
      the exam again :<br> &nbsp &nbsp &nbsp a - You can see the time on the Right side<br><br> &nbsp 3 - You can continue
      by clicking on close button on the top-right side : <br> &nbsp &nbsp &nbsp a - this window going to be closed after
      (20.S) <br>
    </ion-content>
  </div>
  <div ng-if="mv.lang.en">
  <ion-content>
    <br> &nbsp 1 - 2You can only select 1 or 2 answers at the sametime :<br> &nbsp &nbsp &nbsp a - If you Select
    only one answer you got 2 point as you selected twice<br> &nbsp &nbsp &nbsp b - If you Select two answers you got 1 point<br><br>    &nbsp 2 - You should answer evry question within the requisted time (45.S) or you will have to repeat the exam again
    :<br> &nbsp &nbsp &nbsp a - You can see the time on the Right side<br><br> &nbsp 3 - You can continue by clicking on
    close button on the top-right side : <br> &nbsp &nbsp &nbsp a - this window going to be closed after (20.S) <br>
  </ion-content>
  </div>
</ion-modal-view>